<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.automation.CarAutomation">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Controller.App"
        android:allowBackup="true"
        android:label="CarAutomation"
        android:icon="@drawable/car"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".Controller.BluetoothBroadcastReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.device.action.BOND_BONDED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.STATE_ON"/>
                <action android:name="android.bluetooth.adapter.action.STATE_OFF"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".View.Activity.PairedDevicesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.Activity.TabbedActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
           />

        <activity
            android:name=".View.Activity.AlarmActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
           />
    </application>

</manifest>